body{
    font-family: 'Kantumruy Pro', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:orange;
}
.your{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.flexible-container{
    display:flex;
    margin-bottom: 500px ;
}
.half-width{
    width: 50%;
    padding-right: 5%;
    margin-left: 30px;
}
.half-width img{
    width :75%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding :10px 40px ;
    color:white;
    font-weight: 700;
    border-radius: 5px;
}
.corner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
}
#pro{
    border-left: 10px solid tomato;
    border-radius: 20px;
    box-shadow: 10px 10px 40px yellow;
}
#kochi{
    border-left: 10px solid purple ;
    border-radius: 20px;
    box-shadow: 10px 10px 40px yellow;
}
footer p{
    text-align:center;
    font-weight: 700;
    color: tomato;
}