body{
    font-family: 'Kantumruy Pro', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:orange;
}
section{
    display:flex;
    margin-bottom: 500px ;
}
.half-width{
    width: 50%;
    padding-right: 5%;
    margin-left: 30px;
}
.half-width img{
    width :75%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding :10px 40px ;
    color:white;
    font-weight: 700;
    border-radius: 5px;
}
.corner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}